@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{


    <li class="list">
        <a href="/Clientes">
            <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
            <span class="title">Clientes</span>
        </a>
    </li>
    <li class="list">
        <a href="/Admin">
            <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
            <span class="title">Configurações</span>
        </a>
    </li>


}
