@model Cliente

<div class="row">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input  class="form-control" asp-for="Nome" placeholder="Nome do Cliente">
        @Html.ValidationMessageFor(Model => Model.Nome)
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="Contato" class="control-label"></label>
        <input  class="form-control" id="telefone" placeholder="(67)0000-0000" asp-for="Contato">
        @Html.ValidationMessageFor(Model => Model.Contato)
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="Email" class="control-label"></label>
        <input  class="form-control" placeholder="E-mail" asp-for="Email">
    </div>
    <div class="col">
        <label asp-for="Cep" class="control-label"></label>
        <input  class="form-control" placeholder="CEP" id="cep" asp-for="Cep">
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="Rua" class="control-label"></label>
        <input  class="form-control" placeholder="Rua..." asp-for="Rua">
    </div>
    <div class="col">
        <label asp-for="Numero" class="control-label"></label>
        <input  class="form-control" placeholder="Numero" asp-for="Numero">
        @Html.ValidationMessageFor(Model => Model.Numero)
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="Complemento" class="control-label"></label>
        <input  class="form-control" placeholder="Complemento" asp-for="Complemento">
    </div>
    <div class="col">
        <label asp-for="Bairro" class="control-label"></label>
        <input  class="form-control" placeholder="Bairro" asp-for="Bairro">
    </div>
</div>

<div class="row">
    <div class="col">
        <label asp-for="Cidade" class="control-label"></label>
        <input  class="form-control" placeholder="Cidade" asp-for="Cidade">
    </div>
    <div class="col">
        <label asp-for="Estado" class="control-label"></label>
        <input  class="form-control" placeholder="Estado" asp-for="Estado">
    </div>
</div>