<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestePontual.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
    @* NavBar *@
    <div class="navigation">
        <div>
            @* Topo *@
            <div class="top">

                <div class="nameUser"><strong><i>@User.Identity.Name&nbsp;</i></strong></div>
            </div>
            <ul>
                <li class="list active">
                    <a href="/">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/Home/Privacy">
                        <span class="icon"><ion-icon name="cube-outline"></ion-icon></span>
                        <span class="title">Privacy</span>
                    </a>
                </li>
                
                <partial name="_Add_Link_Nav" />
                

                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="wallet-outline"></ion-icon></span>
                        <span class="title">Financeiro Não Implementado</span>
                    </a>
                </li>
                <partial name="_LoginPartial" />

            </ul>
        </div>
    </div>
    <div class="container">
        @* NavBar *@

        @* Render Das Page *@
        <div class="container">
            <main role="main" class="content">
                @RenderBody()
            </main>
        </div>
        @* Rodapé *@
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 Jean Carlo - Programador Junior - <a asp-area="" asp-controller="Home"
                    asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
