
<form class="navbar-collapse collapse d-sm-inline-flex justify-content-between" asp-controller="Clientes"
    asp-action="Index">
    <div class="form-group">
        <input class="form-control" placeholder="Pesquisar Cliente" name="searchString">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Limpar Filtro</button>
    </div>
</form>