<form class="navbar-collapse collapse d-sm-inline-flex justify-content-between" asp-controller="Clientes"
    asp-action="Index">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Pesquisar Cliente" name="searchString" value="@ViewBag.pesquisa">
    </div>
</form>