@model Produto
<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h1>@ViewBag.Titulo</h1>
        <form asp-action="EditarProduto">
            <label asp-for="Nome" class="form-label mb-2"></label>
            <input asp-for="Nome" class="form-control">
            @Html.ValidationMessageFor(Model => Model.Nome,"", new { @class = "text-danger" })<br>

            <label asp-for="Quantidade" class="form-label mb-2"></label>
            <input asp-for="Quantidade" class="form-control">
            @Html.ValidationMessageFor(Model => Model.Quantidade,"", new { @class = "text-danger" })<br>

            <label asp-for="Preco" class="form-label mt-2"></label>
            <input asp-for="Preco" class="form-control">
            @Html.ValidationMessageFor(Model => Model.Preco,"", new { @class = "text-danger" })<br>

            <button class="btn btn-primary mt-2" type="submit">Salvar</button>
        </form>
            
            <a asp-action="Index"><button class="btn btn-primary mt-2">Voltar</button></a>
    </div>
</div>