@model Cliente;
@{
  ViewData["Title"] = "Detalhes de Cliente";
}

<div class="container">


 <partial name="_ClienteResumo"/>

  <a asp-action="index"><button type="button" class="btn btn-primary">Voltar</button></a>
  <a asp-action="Criar"><button type="button" class="btn btn-primary">Cadastrar Cliente</button></a>
</div>