@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{


    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Produtos" asp-action="Index">Produtos</a>
    </li>
    

}


