@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false">Funcionalidades</a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="Usuarios" asp-area="Admin">Usuarios</a>
        </li>
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="Produtos" asp-area="Admin">Produtos</a>
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="">Sair Area Admin</a></li>
    </ul>

}
