@model Cliente;
@{
  ViewData["Title"] = "Detalhes de Cliente";
}

<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-10 col-md-10 col-lg-10">
      <partial name="_ClientePadrao" />
      <br>
      <a asp-action="Criar"><button type="button" class="btn btn-primary">Cadastrar Cliente</button></a>
      <a asp-action="Index"><button type="button" class="btn btn-primary">Voltar</button></a>
    </div>
  </div>



</div>