@model Cliente;
@{
  ViewData["Title"] = "Editar Cliente";
}

<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-10 col-md-10 col-lg-10">
      <form asp-action="Editar">
        <partial name="_ClientePadrao" />
        <div class="form-row">
          <br>
          <button type="submit" class="btn btn-primary">Salvar</button>
          <a asp-action="index"><button type="button" class="btn btn-primary">Voltar</button></a>
        </div>
      </form>
    </div>

  </div>


</div>
